aside {
    display: grid;
    justify-items: center;
    gap: 56px;
    background-color: var(--grey-color);
    max-height: 480px;
    padding: 0px 120px 120px;
}

#services {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    width: 355px;
    height: 61px;
    margin-top: 88px;
}

#services h3 {
    font: var(--subtitle);    
}

#services h2 {
    font: var(--title-md-as); 
    color: var(--grey-600-color);   
}

#serv-1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 888px;
    height: 155px;
    margin: 0 120px 120px;
    
}

#serv-1 figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    min-width: 280px;
    max-height: 155px;
    padding: 20px;

    border: solid 2px #16181D;
    border-radius: 12px;
}

/* figure:hover  {
    border: 1.5px solid #878EA1;
} */

#serv-1 figure img {
    width: 48px;
    height: 48px;
    

}

figcaption h3 {
    font: var(--title-sm-as);
    color: var(--grey-600-color);
    margin-bottom: 8px;
}

#serv-1 figcaption p {
    font: var(--title-md);
    color: var(--grey-500-color);
}